*.json
*.doc
*.xml
*.zip
*.docx
*.iml
.Rproj.user
*.pdf
*.Rproj
*_sample*
*.Rhistory
*.csv
*.png
rev*
*.pyc
.ipynb*
*.txt
1/check_word.py
Summary/Stat628 Module2 Thu5 Summary_yelp.ipynb
Summary.ipynb
Summary/Stat628 Module2 Thu5 Summary_yelp.ipynb
